body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Set the background color to a very dark gray */
}

#imageContainer {
	display: grid;
	height: 100%;
    position: relative;
}

#displayedImage {
    grid-area: 1/1;
    max-width: 100%;
    max-height: 100vh;
    z-index: 2;
}

#hiddenPreviewImage {
    grid-area: 1/1;
    max-width: 100%;
    max-height: 100vh;
    z-index: 1;
}

#blendSlider {
    grid-area: 1/1;
    align-self: end;
    justify-self: center;
    z-index: 10;
    width: 300px;
    margin-bottom: 16px;
    opacity: 0.6;
    cursor: pointer;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(72, 0, 91, 50);
    color: #fff;
    border: none;
    cursor: pointer;
}

#backButton {
    left: 10px;
    top: 1%;
}

#closeButton {
    position: fixed;
    right: 10px;
    top: 10px;
    transform: none;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

